[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotext = "*"
ftfy = "*"
nltk = "*"
emoji = "*"
termcolor = "*"
numpy = "*"
scrubadub = "*"
scrubadub-spacy = "*"
openai = "*"
langchain = "*"
tiktoken = "*"
faiss-cpu = "*"
cachetools = "*"

[dev-packages]

[requires]
python_version = "3.10"
